*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body{
     background-color: #7a97ff;
    
}
 
.row
{
     background-color: white;
    border-radius: 30px;
    
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.login
{
    height:400px;
}
btn
{
    
}
a{ color: white;
text-decoration:none;}